
.back-to-bottom {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 99;
  }

h2{
            padding-top: 24px;
            padding-bottom: 24px;
            margin-bottom: 0;
}

h3 {
            padding: 18px 0;
            font-size: 2rem;
}
        
.col-3 {
    padding: 4px 0;            
    font-family: 'Roboto Condensed', sans-serif;
} 
nav img{  
    max-width:100%;
    height:45px;         
}

body{
    background-color: #c4e8fc;    
    background-size: cover;
    background-size: 100% 100%;
    padding-top: 15%;
    /* padding: 0 10%; */
    width: 100%;
 
}
section{
    padding: 0 10%;
}
    
input {
    width: 40%;
    text-align:center;
    background-color: #ffffff;
    background-size: cover;
    background-size: 100% 100%;
    background: transparent;
}
.div1{
    filter: drop-shadow(10px 10px 5px rgba(0,0,0,0.7));
}
.mainBody{
    filter: drop-shadow(10px 10px 5px rgba(255,0,0,0.7));
}
    
.numinp{        
    width: 70px;
    border: none;
    border-bottom: 2px solid red;
}
    
.machineHeading {
    color: red;
}
    
.heading{
    color: #0032c0;
}
.foodName{
    color: black;
    /* width: 25%; */
}
.foodLevel{
    color: black;
    /* width: 25%; */
    text-align: center;
}
.foodPicSize{
    width: 35px;
    height: 35px;
    margin: 1px 1px 0 10px;
}
.quantityInput{
    color: #0032c0;
}

div.container{
    background: white;
        padding: 0 7.5%;
        font-family: 'Roboto Condensed', sans-serif;
}
 
h1{
    color: red;
    font-family: 'Shadows Into Light Two', cursive;
    padding-top: 2%;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 5px;
}

#total{
    font-size: 1.5rem;
    color: red;
}   

label{
    color: #0032c0;
    font-size: 1.5rem;
    margin-top: 2% !important;
} 

    #text1{
        font-family: 'Shadows Into Light Two', cursive;
        font-size: 1.4rem;
        text-align: center;
        color: #920c0c;
        margin: 2% 0;
        padding: 2% 0;
    }
    h4{
        margin: 0;
        padding: 0;
    }
    div.col3.heading{
        margin: 0;
        padding: 0;
    }
    .row>*{
        padding-left: 0;
    }
    hr {
        margin-top: 5px!important;
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    }
    .ratio,.numinp{
        margin: 1%;
    }
    

    
    .bg-nav{
        background-color:  #c4e8fc;
    }
    body{
        padding-top: 15%;
    }
    
    #mult{
        border: 2px solid red;
        border-radius: 8px;
        margin-top: 2%;
    }
    


    .butt{
        display: flex;
        justify-content: flex-end;
        margin: 5% 0;
        padding: 0;
    }

    footer{
        background-color: black;
        margin-bottom: 0;
        padding: 2% 5% 5% 5%;
    }
    i{
        color: white;
    }
    footer p{
    color: white;
    padding:0;
    margin-left: 5%;
    }

    textarea{
        width: 90%;
        margin-left: 5%;
    }
    
    .copyButton {
        position: relative;
        display: inline-block;
        padding: 0.25em 0.5em;
        text-decoration: none;
        color: #FFF;
        background: #fd3535;/*button color*/
        border-bottom: solid 2px #d27d00;/*daker color*/
        border-radius: 4px;
        box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
        font-weight: bold;
        margin-left: 5%;
    }
    
    .copyButton:active {
        border-bottom: solid 2px #fd9535;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
    }

    .foodLevel , .foodPrice {
     text-align: center;
    }

    h4{
        text-align: center;
    }

#para{
    margin-left: 5%;
}

@media (max-width: 768px){
        /* For Mobile */
       
       
}

@media (min-width: 1100px){
        h1{
            font-size: 700%;
        }
}
    
@media (min-width: 768px){
        /* For Laptop */
    body{
        padding-top: 60px;
    }
    h1{
        font-size: 400%;
    }
    .foodName{
        text-align: center;
    }
    .quantityInput{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    h3{
        text-align: center;
    }
    textarea{
        width: 50%;
        margin-left: 5%;
    }
    #butt_top{
        display: flex;
        justify-content: flex-end;
    }
    #total{
        display: flex;
        justify-content: flex-start;
    }
    h2 p{
        margin: auto 0;
        padding: auto;
    }
    label.col-9{
        margin-right: 0;
        padding-right:0 ;
        display: flex;
        justify-content: flex-end;
        font-size: 1.5rem;
    }
    #mult{
        margin-left: 3%;
    }
    #text1{
        font-size: 2rem;
    }
    .foodName , .foodLevel , .foodPrice ,.numinp {
        font-size: 1.5rem;
    }
    .machineHeading {
        font-size: 3rem;
    }



}

/* 

FOOTER STARTS

*/

footer{
    
    background-color: black;
    margin-bottom: 0;
    padding: 2% 5% 5% 5%;
    margin-right: 0;
    margin-top: 6%;
}
    
i{
    color: white;
}
    
footer p{
    color: white;
    margin: 0;
    padding:0;
}

.unq_btn{
    display: flex;
    justify-content: space-evenly;
}

.unq_btn a{
    display: inline-block;
    text-decoration: none;
    font-size: 25px;
}
.unq_btn .fa-stack-1x {
    color: white;
    font-size: 18px;
}
.unq_btn .fa-stack-2x {
    transition: .3s;
}
.unq_btn .discord .fa-certificate {
  color: #5764f2;
}
.unq_btn .fb .fa-certificate {
  color: #3b579e;
}
.unq_btn .messenger .fa-certificate {
    color: #09f;
}
.unq_btn .instagram .fa-certificate{
    
color: #d6249f;
      
}

.unq_btn a:hover .fa-stack-2x {
    -ms-transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
}

@media (min-width: 768px){
    /* For Laptop */
    .unq_btn{
        
        justify-content: flex-start;
    }
    footer{
        margin-top: 2%;
    }
}

/*

FOOTER ENDS

*/
