/* TOP NAVIGATION BAR START */
/* Add a black background color to the top navigation */
.topnav {
  background-color: #cd3332;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 18px 30px;
  text-decoration: none;
  font-size: 22px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
/* TOP NAVIGATION BAR END */

#form_container
{
	padding:15px 15px;
	margin-top:180px;
  margin-left: 100px;
	background: rgba(0,0,0,0.5);	
	color:#fff;
}
body
{
	background-color: #000;
	background-image: url("hayday.jpg");
	background-size: cover;
	background-repeat:no-repeat;

}

