body{
    width: auto;
    background-color: #c4e8fc;
    padding-top: 15%;
}


.bg-nav{
    background-color: #c4e8fc
}
nav img{  
    max-width:100%;
    height:45px;         
}

.row{
justify-content: space-around;

}
main img{
    max-width:100%;
max-height:100%;
}

.card-title{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
    
.card a{
    float: right;
}

.card-body {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
}
h1{
    
    font-family: 'Kalam', cursive;
    text-align: center;
    color: red;
    font-size: 3rem;
    padding: 2%;
}
h2{
    font-family: 'Barlow', sans-serif;
    padding: 2%;
}



@media (max-width: 768px){
    /* For Mobile */
    .card{
        margin: 4% 0;
        width: 18rem;
        height: 20rem;
        }
}

@media (min-width: 768px){
    /* For Laptop */
    body{
        padding-top: 60px;
    }
    .card{
        margin: 1% 0;
        width: 25%;
    }
}



/* 

FOOTER STARTS

*/
footer{    
    background-color: black;
    margin-bottom: 0;
    padding: 2% 5% 5% 5%;
    margin-right: 0;
    margin-top: 6%;
}
    
i{
    color: white;
}
    
footer p{
    color: white;
    margin: 0;
    padding:0;
}

.unq_btn{
    display: flex;
    justify-content: space-evenly;
}

.unq_btn a{
    display: inline-block;
    text-decoration: none;
    font-size: 25px;
}
.unq_btn .fa-stack-1x {
    color: white;
    font-size: 18px;
}
.unq_btn .fa-stack-2x {
    transition: .3s;
}
.unq_btn .discord .fa-certificate {
  color: #5764f2;
}
.unq_btn .fb .fa-certificate {
  color: #3b579e;
}
.unq_btn .messenger .fa-certificate {
    color: #09f;
}
.unq_btn .instagram .fa-certificate{
    
color: #d6249f;
      
}

.unq_btn a:hover .fa-stack-2x {
    -ms-transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
}

@media (min-width: 768px){
    /* For Laptop */
    .unq_btn{
        
        justify-content: flex-start;
    }
    footer{
        margin-top: 2%;
    }
}

/*

FOOTER ENDS

*/